body {
  background: url("7456.jpg") repeat;
}
.page-title {
  color: brown;
  font-family: 'Coffee At Midnight', cursive;
  font-size: 5rem;          /* BIG title */
  text-align: center;       /* center aligned */
  margin: 40px 0;
  letter-spacing: 4px;
}
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
  font-family: Arial, sans-serif;
  color: white;
}

.slot-machine {
  text-align: center;
  background: #222;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.7);
}

.slots {
  display: flex;
  gap: 20px;
  margin: 20px 0;
}

.slot {
  width: 80px;
  height: 80px;
  background: #000;
  border: 3px solid #555;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  border-radius: 8px;
}

button {
  padding: 10px 30px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  background: gold;
  color: black;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

#result {
  margin-top: 15px;
  font-size: 18px;
}
