body {
  background: url("7456.jpg") repeat;
}
.page-title {
  color: rgb(254, 0, 0);
  font-family: 'Coffee At Midnight', cursive;
  font-size: 5rem;          /* BIG title */
  text-align: center;       /* center aligned */
  margin: 40px 0;
  letter-spacing: 4px;
}
