* {
    box-sizing: border-box;
}

.content-box {
    background-color: lightgray;
    width: 200px;
    height: 200px;
    padding: 50px;
    border: 5px solid darkslategray;
    margin: 50px;
    box-sizing: content-box;
}

.border-box {
    background-color: lightgray;
    width: 200px;
    height: 200px;
    padding: 50px;
    border: 5px solid darkslategray;
    margin: 50px;
    box-sizing: border-box;
}

.box {
    background-color: bisque;
    width: 100px;
    height: 100px;
    margin: 20px 0;
    border: 2px solid darkolivegreen;
    padding: 5px;
}
