body {
  background-image: url('visitor\ center.jpeg'); /* swap with your image filename */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
}