body {
  background-image: url('inside_center.jpeg'); /* swap with your image filename */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #000000;
  font-size: 56px;
  font-weight: 900;
  -webkit-text-stroke: 1px #ad1f1f;
  text-shadow: 0 0 8px rgba(234, 95, 95, 0.85), 0 2px 0 rgba(0, 0, 0, 0.75);
}
.dot {
      position: absolute;
      top: 35%;
      left: 50%;
      width: 20px;
      height: 20px;
      background-color: red;
      border-radius: 50%;
      display: block;
    }

    .dot:hover {
      background-color: darkred;
      cursor: pointer;
    }