/* Box sizing examples */

.content-box {
    border: 5px solid darkslategray;
    margin: 50px;
}

.border-box {
    border: 5px solid darkslategray;
    margin: 50px;
    box-sizing: border-box;
}

/* Container for absolute positioning */

.container {
    background-color: burlywood;
    width: 300px;
    height: 300px;
    position: relative;
    left: 90px;
}

/* Base box styling */

.box {
    background-color: bisque;
    width: 100px;
    height: 100px;
    margin: 20px 0;
    border: 2px solid darkolivegreen;
    padding: 5px;
}

/* Relative positioning */

.relative {
    background-color: cadetblue;
    position: relative;
    top: 50px;
    left: 50px;
}

/* Fixed positioning */

.fixed {
    background-color: chartreuse;
    position: fixed;
    top: 0;
    right: 0;
    margin: 0;
}

/* Absolute positioning */

.absolute {
    background-color: darkorange;
    position: absolute;
    top: 0;
    right: -100px;
    margin: 0;
}

/* Simple smiley example */

.smiley {
    width: 200px;
    height: 200px;
    background-color: gold;
    border-radius: 50%;
    position: relative;
    margin: 50px;
}

.eye {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 60px;
}

.eye.left {
    left: 50px;
}

.eye.right {
    right: 50px;
}