.content-box {
    background-color: tomato;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px;
    border: 12px solid black;
    margin: 50px ;
}