* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: darkseagreen;
        border: 6px solid #111111;  
      padding: 12px;
        margin: 12px 0;
             border: 6px solid #2d9b7a;  
                padding: 12px;
            margin: 12px 0;
    justify-content: center;
}

.container {
    display: flex;
    font-size: 30px;
    justify-content: center;
    padding-top: 1cm;
    color: rgb(116, 72, 2); 
}
.ok {
    padding-left: 31px;
    padding-right: 31px;
    display:flow-root;
    font-size: 15px;
    justify-content: center;
    padding-top: .5cm;
    color: rgb(0, 0, 0); 
}

.container2 {
    display: flex;
    font-size: 30px;
    justify-content: center;
    padding-top: 1cm;
    color: rgb(27, 156, 102); 
}

.container3 {
    display: flex;
    font-size: 30px;
    justify-content: center;
    padding-top: 1cm;
    color: rgb(51, 62, 67); 
}

.container4 {
    display: flex;
    font-size: 30px;
    justify-content: center;
    padding-top: 1cm;
    color: rgb(194, 220, 28); 
}

.container5 {
    display: flex;
    font-size: 30px;
    justify-content: center;
    padding-top: 1cm;
    color: rgb(254, 26, 170); 
}
.ok1 {
    padding-left: 31px;
    padding-right: 31px;
    display:flow-root;
    font-size: 15px;
    justify-content: center;
    padding-top: .5cm;
    color: rgb(124, 124, 124); 
}

.frame1 {
    min-height: 100vh;
    border: 26px solid #2d9b7a ;
    padding: 12px;
}

.frame2 {
    min-height: 100%;
    border: 123px solid #2d9b7a ;
    padding: 12px;
}

.frame3 {
    min-height: 100%;
    border: 62px solid #2d9b7a ;
    padding: 24px; 
}