* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: darkseagreen;
    justify-content: center;
}

.container {
    display: flex;
    font-size: 30px;
    justify-content: center;
    padding-top: 1cm;
    color: rgb(116, 72, 2); 
}
.ok {
    padding-left: 31px;
    padding-right: 31px;
    display:flow-root;
    font-size: 15px;
    justify-content: center;
    padding-top: .5cm;
    color: rgb(0, 0, 0); 
}

.container2 {
    display: flex;
    font-size: 30px;
    justify-content: center;
    padding-top: 1cm;
    color: rgb(27, 156, 102); 
}

.container3 {
    display: flex;
    font-size: 30px;
    justify-content: center;
    padding-top: 1cm;
    color: rgb(51, 62, 67); 
}

.container4 {
    display: flex;
    font-size: 30px;
    justify-content: center;
    padding-top: 1cm;
    color: rgb(194, 220, 28); 
}

.container5 {
    display: flex;
    font-size: 30px;
    justify-content: center;
    padding-top: 1cm;
    color: rgb(254, 26, 170); 
}
